
/* Cabeçalho */

.cabecalho{
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 0 1em;
	height: 30%;

	background: #ffffff;
	border-bottom: 1px solid #000;

}

.img-play, .img-envio{
	height: 40px;
	width: 40px;
}