@import url('./style.css');

/* Cabeçalho */

.cabecalho{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 10vh;

	padding: 0 1em;

	background: #fff;
}

.img-play{
	height: 30px;
	width: 60px;
}

.img-envio{
	height: 40px;
	width: 40px;
	padding-right: 10px;
}

.pesquisar__input{
	border: .5px solid #fff;
	padding-left: 5px;
	border-radius: 20px 0 0 20px;
	height: 30px;
	width: 150px;
	background: var(--cor-azul);
	color: #fff;
}

::placeholder{
	font-family: 'Quicksand';
	color: #fff;
}

.pesquisar__botao{
	position: absolute;


	border: .5px solid #fff;
	border-radius: 0 20px 20px 0;
	background: var(--cor-azul);

	cursor: pointer;

	padding: 1px 5px 0 3px;
	height: 30px;
	width: 40px;
}

.pesquisar__botao-img{
	height: 20px;
	width: 30px;
}

/* Main */

.videos__container{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-items: center;

	padding: 1em;
	height: 90vh;
}

.videos__item{
	margin: .6em .6em;

	height: 40vh;
	width: 85%;
	background: transparent;
}

/* Descrição */

.descricao-video{
	display: grid;
	grid-template-rows: 50px 20px;

	color: #fff;
}

.descricao-video h3{
	font-size: 1em;
}

.descricao-video p{
	margin-top: 6px;
	font-size: .8em;
}

/* Responsivo */

@media screen and (max-width: 1200px){
	.videos__container{
		grid-template-columns: 1fr 1fr;
	}
	.videos__item{
		width: 80%;
		margin-bottom: 1em;
	}
}

@media screen and (max-width: 720px){
		.videos__container{
		grid-template-columns: 1fr;
	}

}